{% extends 'base.html' %} {% block title %}Survey{% endblock %} {% block content
%}


<!--<section class = "submitSurvey">
  <form action="/start" method="POST">
      <button>Start Survey</button>
  </form>
</section> -->
<section class = "submitSurvey">
  <form action="/chooseSurvey" method="POST">
    <h1>Choose from the following surveys:</h1>

     
    <select class="chooseSurvey" name="choose_survey">
    {% for name in survey %}
      <option class="chooseSurvey"value="{{ name }}">{{ name.capitalize() }} Survey</option>
          
    {% endfor %}
      
 
    </select>
    <button>Submit</button>
  

   <!-- <label for="chooseStory">Do you want this story?</label>
    <input type="hidden" id="chooseStory" name="custId" value="1" />
    <input id="chooseStory" type="checkbox" name="choose" />
    <button>Submit!</button> -->
  </form>
</section>

{% endblock %}

